name: CI

on:
  push:
    branches:
      - *
  pull_request:
    types: [ opened, reopened, synchronize ]
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

# We explicitly allow only the read permission for security reasons; no other permission is needed.
permissions:
  contents: read

# A workflow run is made up of one or more jobs, which run in parallel by default.
# Each job runs in a runner environment specified by `runs-on`.
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: ilammy/setup-nasm@v1

      - name: Check out repository code
        uses: actions/checkout@v4

      # This GitHub Action installs a Rust toolchain using "rustup".
      # It is designed for one-line concise usage and good defaults.
      - name: Install the Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      # A GitHub Action that implements smart caching for rust/cargo projects with sensible defaults.
      - name: Rust Cache Action
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo test

  fmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Enforce formatting
        run: cargo fmt --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ilammy/setup-nasm@v1
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Linting
        run: cargo clippy -- -D warnings
